:root {
  --primary-50: #C9DDF9;
  --primary-100: #B7D1F6;
  --primary-200: #9FC2F4;
  --primary-300: #7FAEF0;
  --primary-400: #5493EB;
  --primary-500: #1B6FE4;
  --primary-600: #175EC2;
  --primary-700: #1450A5;
  --primary-800: #11448C;
  --primary-900: #0E3A77;

  --secondary-50: #BCF3FD;
  --secondary-100: #A5EFFC;
  --secondary-200: #87EAFC;
  --secondary-300: #5FE3FA;
  --secondary-400: #2ADAF9;
  --secondary-500: #06B6D4;
  --secondary-600: #059AB4;
  --secondary-700: #048399;
  --secondary-800: #046F82;
  --secondary-900: #035E6F;

  --neutral-50: #E7E6E6;
  --neutral-100: #6C727F;
  --neutral-200: #757575;
  --neutral-300: #312F2B;
  --neutral-400: #262729;
  --neutral-500: #1D263A;
  --neutral-600: #000929;

  --black: 0 0 0;
  --white: 255 255 255;
  --success: 0 181 58;
  --warning: 250 188 7;
  --danger: 198 55 51;
  --info: 103 178 229;
  --warm-blue: 68 85 234;
}
