@import "tailwindcss/base";

@layer base {
  body {
    @apply min-h-screen font-poppins text-[14px] tracking-[0.15px] text-black/[.87];
  }

  @font-face {
    font-family: Poppins_Regular;
    src: url("../fonts/Poppins-Regular.ttf");
    font-display: swap;
  }

  @font-face {
    font-family: Poppins_Medium;
    src: url("../fonts/Poppins-Medium.ttf");
    font-display: swap;
  }

  @font-face {
    font-family: Poppins_Bold;
    src: url("../fonts/Poppins-Bold.ttf");
    font-display: swap;
  }


  body::-webkit-scrollbar {
    @apply hidden;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:active,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:hover {
    -webkit-box-shadow: 0 0 0 30px rgb(var(--white)) inset !important;
  }

  h1 {
    @apply font-poppins_bold text-[40px] leading-[42.5px] sm:text-[56px] sm:leading-[80px];
  }

  h2 {
    @apply font-poppins_bold text-[32px] leading-[40px] sm:text-[48px]  sm:leading-[60px];
  }

  h3 {
    @apply font-poppins_bold text-[24px] leading-[33.6px] sm:text-[40px] sm:leading-[42.5px];
  }

  h4 {
    @apply font-poppins_bold text-[20px] leading-[22.5px] sm:text-[32px] sm:leading-[36.4px];
  }

  h5 {
    @apply font-poppins_bold text-[18px] leading-[22.5px] sm:text-[24px] sm:leading-[33.6px];
  }

  h6 {
    @apply font-poppins_bold text-[16px] leading-[25px] sm:text-[20px];
  }
}